@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.jumbotron {
  padding-top: 9rem;
  background-color: #ce99ff;
}

#projects {
  background-color: #ce99ff;
}

section {
  padding-top: 5rem;
}

.display-4 {
  font-weight: 600;
}

.lead {
  font-weight: 500;
}
